@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.login-image {
  background-image: url("../../public/assets/authAssets/login.png");
  background-size: cover;
  background-position: center;
}
