@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.login-image {
  background-image: url("../../public/assets/authAssets/login.png");
  background-size: cover;
  background-position: center;
}
.register-image {
  background-image: url("../../public//assets/authAssets/register.png");
  background-size: cover;
  background-position: center;
}
.second-frame-image {
  background-image: url("../../public//assets/authAssets/register2.png");
  background-size: fit;
  background-position: center;
}

.animate-wave {
  animation: wave 10s ease-in-out infinite alternate;
}

/* @keyframes wave {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-10px);
  }
  50% {
    transform: translateX(-10px);
  }
  75% {
    transform: translateX(-10px);
  }
  100% {
    transform: translateX(0);
  }
} */
